<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Contact List</h2>

            <a href="/contact/add" class='btn btn-primary mb-2'>Add Contact</a>

            <% if(msg.length !==0) { %>
                <div class="alert alert-success" role="alert">
                    <%= msg %>
                </div>
                <% } %>

                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (contacts.length===0) { %>
                                <tr>
                                    <td colspan="4"></td>
                                    <div class="alert alert-danger" role="alert">
                                        Your Contact is empty :(
                                    </div>
                                </tr>
                                <% } %>
                                    <% contacts.forEach((contact, i)=> { i++ %>
                                        <tr>
                                            <th scope="row">
                                                <%= i++ %>
                                            </th>
                                            <td>
                                                <%= contact.name %>
                                            </td>
                                            <td>
                                                <%= contact.email %>
                                            </td>
                                            <td>
                                                <%= contact.phone %>
                                            </td>
                                            <td>
                                                <a href="/contact/<%= contact.name %> "
                                                    class="btn btn-success badge rounded-pill"><i
                                                        class="bi bi-person-check-fill"></i>Detail</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                        </tbody>
                    </table>
        </div>
    </div>
</div>